<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Your Devices</h3>
  </div>
  <div class="panel-body">
    <div class="input-group">
      <form>
        <select class="form-control" (change)="getData($event.target.value)">
              <option [value] = "0">Select Device</option>
              <option *ngFor="let device of devices" [value]="device._id">
                  {{device.devEUI}}
              </option>
          </select>
      </form>
    </div>
    <sebm-google-map [latitude]="focusLat" [longitude]="focusLng" [zoom]="zoom">
      <sebm-google-map-polyline>
        <sebm-google-map-polyline-point *ngFor="let data of datas" [latitude]="data.latitude" [longitude]="data.longitude"></sebm-google-map-polyline-point>
      </sebm-google-map-polyline>
    </sebm-google-map>
  </div>
</div>
