<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Live tracker</h3>
    <div class="right">
      <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
    </div>
  </div>
  <div class="panel-body">
    <select class="form-control input-lg" (change)="setDevice($event.target.value)">
		    <option value="-1">Select Device</option>
        <option *ngFor="let device of staticDevices; let i = index" [value]="i">
            {{device.devEUI}}
        </option>
		</select>
    <br>
    <div class="row">
      <sebm-google-map [styles]="mapStyle" [latitude]="focusLat" [longitude]="focusLng" [zoom]="zoom">
        <sebm-google-map-polyline>
          <sebm-google-map-polyline-point *ngFor="let uplink of selectedUplinks" [latitude]="uplink.latitude" [longitude]="uplink.longitude"></sebm-google-map-polyline-point>
        </sebm-google-map-polyline>
      </sebm-google-map>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i>24 hours</span></div>
    </div>
  </div>
</div>
