<form class="form-inline" (submit)="getData($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="deviceId" name="deviceId" class="span6 form-control" placeholder="Device Id">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<sebm-google-map [latitude]="focusLat" [longitude]="focusLng" [zoom]="zoom">
    <sebm-google-map-polyline>
        <sebm-google-map-polyline-point *ngFor="let data of datas" [latitude]="data.latitude" [longitude]="data.longitude"></sebm-google-map-polyline-point>
    </sebm-google-map-polyline>
</sebm-google-map>