<div class="row-fluid">
    <div class="span6">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Active Devices:</h5>
            </div>
            <div class="widget-content nopadding">
                <app-devices></app-devices>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Tracker:</h5>
            </div>
            <div class="widget-content nopadding">
                <app-map></app-map>
            </div>
        </div>
    </div>
</div>