<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Your Devices</h3>
    <div class="right">
      <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
    </div>
  </div>
  <div class="panel-body no-padding">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>DevEUI</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices; let i = index">
            <td>{{device._id}}</td>
            <td>{{device.devEUI}}</td>
            <td *ngIf="device.activateTime != null"><span class="label label-success">Monitoring</span></td>
            <td *ngIf="device.activateTime === null"><span class="label label-danger">Not Monitoring</span></td>
            <td *ngIf="device.activateTime != null"><button type="button" class="btn btn-primary" id={{i}} (click)="deactivateDevice($event)">Stop Monitoring</button></td>
            <td *ngIf="device.activateTime === null"><button type="button" class="btn btn-primary" id={{i}} (click)="activateDevice($event)">Start Monitoring</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i>Last 24 hours</span></div>
    </div>
  </div>
</div>
